*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#barra-nav{
    border: 1px solid black;
    height: 80px;
    font-size: 25px;
    background-color: blue;
}
img{
    width: 75px;
    height: 76px;
    margin: 1px;
    float: left;
}
#barra-nav ul{
    display: flex;
    justify-content: end;
    list-style-type: none;
    text-align: center;
}
#barra-nav li{
    display: inline;
    text-align: center;
    margin: 0 15px 0 0;
}
#barra-nav li a{
    padding: 2px 7px 2px 7px;
    color: white;
    text-decoration: none;
    border-left: 1px solid white;
}
#barra-nav li a:hover{
    background-color: #333333;
    color: #ffffff; 
}