*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(195, 195, 255);
}
#barra-nav{
    border: 1px solid rgba(129, 148, 211, 0.582);
    height: 80px;
    font-size: 25px;
    background-color: rgba(129, 148, 211, 0.842);
}
img{
    width: 75px;
    height: 76px;
    margin: 1px;
    float: left;
}
#barra-nav ul{
    display: flex;
    justify-content: end;
    list-style-type: none;
    text-align: center;
}
#barra-nav li{
    display: inline;
    text-align: center;
    margin: 0 15px 0 0;
}
#barra-nav li a{
    padding: 2px 7px 2px 7px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-left: 1px solid rgb(0, 0, 0);
}
#barra-nav li a:hover{
    background-color: #333333;
    color: #ffffff; 
}